@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* header */
.logo-wrapper {
    width: 80px;
}

#mainContainer {
    height: 100vh;
}

#header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 16px;
}

#sidebar {
    height: calc(100vh - 70px);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.overview-account-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #eee;
    padding: 6px 12px;
    border-radius: 8px;
}

.overview-account-wrapper .img-parent {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}


/* sidebar */
#sidebar {
    border-right: 1px solid #ddd;
    padding: 16px;
    overflow: hidden;
}

.nav-item-icon {
    font-size: 1.2rem;
}

.nav-item-text {}

.nav-item {
    border-radius: 12px;
}

.nav-item.active {
    color: #fff;
    background: #333;
}

.collapsed {
    width: 0;
    transition: all 0.35s ease;
}

/* main content */
.table-cell .img-parent {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.action-button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.action-button:hover {
    background: #ddd;
}