* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy SemiBold.otf') format('opentype');
    font-weight: 600;
}

body {
    font-family: "SVN-Gilroy", sans-serif;
}