* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'SVN-Gilroy', sans-serif;
    background-color: #fff;
}

/* Product Section */
.product {
    padding: 40px 0;
    background-color: #FAFAFA;
}

.product-container {
    max-width: 1400px;
    margin: 0 140px;
    padding: 0 20px;
}

.product-main {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

/* Sidebar - 3/12 = 25% */
#sidebar {
    width: calc(3 / 12 * 100%);
    /* flex-shrink: 0; chưa tìm hiểu để sau*/
}

/* Product List - 9/12 = 75% */
#product-list {
    width: calc(9 / 12 * 100%);
    /* flex-grow: 1; */
}