* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'SVN-Gilroy', sans-serif;
    background-color: #fff;
}

/* Breadcrumb */
.section-breadcrumb {
    padding: 40px 0;
    background-color: #fff;
}

.container-breadcrumb {
    padding: 0 20px;
    margin: 0 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-breadcrumb {
    margin: 0;
    font-size: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 18px 0 0;
    list-style: none;
}

.breadcrumb-item a {
    color: #666;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #333;
}

.breadcrumb-item i {
    color: #999;
    font-size: 12px;
}

.breadcrumb-item span {
    color: #333;
    font-weight: 500;
}

/* Product Section */
.product {
    padding: 40px 0;
    background-color: #FAFAFA;
}

.product-container {
    max-width: 1400px;
    margin: 0 140px;
    padding: 0 20px;
}

.product-main {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

/* Sidebar - 3/12 = 25% */
#sidebar {
    width: calc(3 / 12 * 100%);
    /* flex-shrink: 0; chưa tìm hiểu để sau*/
}

/* Product List - 9/12 = 75% */
#product-list {
    width: calc(9 / 12 * 100%);
    /* flex-grow: 1; */
}