* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SVN-Gilroy', sans-serif;
}

.section-breadcrumb {
    padding: 40px 0;
}

.container-breadbrumb {
    padding: 0 20px;
    margin: 0 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle-breadcrumb {
    margin: 0;
    font-size: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 18px 0 0;
}