* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/Font Gilroy VH Full/SVN-Gilroy Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'SVN-Gilroy', sans-serif;
}

.sidebar-box {
    padding: 0 12px;
    width: 100%;
}

.sidebar-wrapper {
    width: 100%;
    padding: 20px;
    border: 0.5px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
}

#form-data {
    width: 100%;
    height: 100%;
}

.fd-filter-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px;
    padding: 0 0 16px;
    border-bottom: 0.5px solid #ddd;
}



.fd-filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    cursor: pointer;
}

.fd-filter-header p {
    font-weight: bold;
    font-size: 20px;
}

.fd-filter-header>span {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fd-filter-content {
    padding: 12px 0 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.brand-list {
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 8px;
    padding-right: 6px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.brand-list::-webkit-scrollbar {
    width: 6px;
}

.brand-list::-webkit-scrollbar-track {
    background: #939393;
    border-radius: 4px;
}

.brand-list::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 4px;
}


.radio-filter,
.filter-search {
    padding: 5px 0;
}

.label-search {
    position: relative;
    width: 100%;
}

.label-search input {
    padding: 11px 8px;
    width: 100%;
    border: 0.5px solid #c3c3c3;
    border-radius: 5px;
}

.label-search input:focus {
    outline: none;
}

.btn-search {
    position: absolute;
    padding: 8px;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    top: 0;
    left: 85%;
    cursor: pointer;
}

.btn-search i {
    color: #000000;
    cursor: pointer;
}


.sidebar-banner {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 2rem 0 0;
    overflow: hidden;
    border-radius: 12px;
}


.sidebar-banner img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    display: block;
    transition: all 0.6s ease;
}

.sidebar-banner img:hover {
    transform: scale(1.08);
    /*Phóng to ra 8%*/
}

.custom-check {
    display: flex;
    align-items: center;
    gap: 5px;
}

/*Bỏ style mặc định của checkbox*/
.icus-checkbox {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
    position: relative;
    transition: all 0.6s ease;
}

.icus-checkbox:hover {
    border-color: #c3c3c3;
}

.icus-checkbox:checked {
    border-color: #333;

}

.icus-checkbox::after {
    content: "";
    position: absolute;
    background-color: #333;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /*Ẩn dot checkbox đi nha ní*/
    transition: all 0.6s ease;
}

.icus-checkbox:checked::after {
    transform: translate(-50%, -50%) scale(1);
    /* Khi checked scale lên 1 (100%) với thời gian là 0.6s nha ní hehe */
    opacity: 1;
    /* Hiện ra nha ní */
}

.price-slider {
    width: 100%;
    height: 6px;
    background: #939393;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}

.price-range {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px 0 16px;
}

.price-display {
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}

.slider-container {
    position: relative;
    height: 6px;
    width: 100%;
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 6px;
    background: #939393;
    border-radius: 4px;
    top: 0;
    left: 0;
}

.price-slider {
    position: absolute;
    width: 100%;
    height: 6px;
    background: transparent;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    top: 0;
    left: 0;
}

.price-slider::-webkit-slider-track {
    background: transparent;
    border: none;
}

.price-slider::-moz-range-track {
    background: transparent;
    border: none;
}

/*Nút tròn*/
.price-slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: white;
    border: 2px solid #939393;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    /*Cái này để đi chuyển*/
}

.price-slider-min {
    z-index: 1;
}

.price-slider-max {
    z-index: 2;
}

.fd-btn {
    display: flex;
    justify-content: space-around;
}

.filter-btn,
.reset-btn {
    padding: 11px 32px;
    border-radius: 25px;
}

.filter-btn {
    font-family: "SVN-Gilroy", sans-serif;
    font-size: 16px;
    background-color: #000000;
    color: white;
    transition: all 0.6s ease;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.filter-btn:hover {
    background-color: #939393;
    outline: 1px solid #000000;
}

.reset-btn {
    border: 1px solid black;
    color: #000000;
    text-decoration: none;
    transition: all 0.6s ease;
}



.reset-btn:hover {
    background-color: #939393;
    color: white;
}

/* Hiệu ứng xoay rotate của js */
.fd-filter-header i {
    cursor: pointer;
    transition: all 0.3s ease;
}

.fd-filter-header i.rotate {
    transform: rotate(180deg);
    /*Xoay 180 độ*/
}