<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <title>sidebar</title>
</head>

<body>
    <div class="sidebar-box">
        <div class="sidebar-wrapper">
            <form id="form-data">
                <div class="fd-filter">
                    <!-- Bộ sưu tập nước hoa -->
                    <div class="fd-filter-box">
                        <div class="fd-filter-header">
                            <p>Bộ sưu tập nước hoa</p>
                            <span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="fd-filter-content">
                            <div class="radio-filter">
                                <label class="custom-check">
                                    <input type="checkbox" name="checkbox" class="icus-checkbox">
                                    <span>Chưa phân loại</span>
                                </label>
                            </div>
                            <div class="radio-filter">
                                <label class="custom-check">
                                    <input type="checkbox" name="checkbox" class="icus-checkbox">
                                    <span>Body Spray</span>
                                </label>
                            </div>
                            <div class="radio-filter">
                                <label class="custom-check">
                                    <input type="checkbox" name="checkbox" class="icus-checkbox">
                                    <span>Nước hoa</span>
                                </label>
                            </div>
                            <div class="radio-filter">
                                <label class="custom-check">
                                    <input type="checkbox" name="checkbox" class="icus-checkbox">
                                    <span>Nước hoa nam</span>
                                </label>
                            </div>
                            <div class="radio-filter">
                                <label class="custom-check">
                                    <input type="checkbox" name="checkbox" class="icus-checkbox">
                                    <span>Nước hoa nữ</span>
                                </label>
                            </div>
                            <div class="radio-filter">
                                <label class="custom-check">
                                    <input type="checkbox" name="checkbox" class="icus-checkbox">
                                    <span>Nước hoa unisex</span>
                                </label>
                            </div>
                            <div class="radio-filter">
                                <label class="custom-check">
                                    <input type="checkbox" name="checkbox" class="icus-checkbox">
                                    <span>Tinh dầu</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Thương hiệu -->
                    <div class="fd-filter-box">
                        <div class="fd-filter-header">
                            <p>Thương hiệu</p>
                            <span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="fd-filter-content">
                            <div class="filter-search">
                                <label class="label-search">
                                    <input type="text" name="search-brand" placeholder="Tìm kiếm nhanh">
                                    <button type="button" class="btn-search">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </label>
                            </div>
                            <div class="brand-list">

                            </div>
                        </div>
                    </div>

                    <!-- Giá -->
                    <div class="fd-filter-box">
                        <div class="fd-filter-header">
                            <p>Giá</p>
                            <span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="fd-filter-content">
                            <div class="price-range">
                                <div class="slider-container">
                                    <div class="slider-track"></div>
                                    <input type="range" class="price-slider price-slider-min" min="0" max="17000000"
                                        value="0">
                                    <input type="range" class="price-slider price-slider-max" min="0" max="17000000"
                                        value="17000000">
                                </div>

                                <div class="price-display">
                                    <span class="price-price">Giá: </span>
                                    <span class="price-min">0 đ</span>
                                    <span>-</span>
                                    <span class="price-max">17,000,000 đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fd-btn">
                    <button type="submit" class="filter-btn">
                        <span>Lọc</span>
                    </button>
                    <a href="#" class="reset-btn">
                        <span>Đặt lại</span>
                    </a>
                </div>
            </form>
        </div>

        <div class="sidebar-banner">
            <a href="#" target="_blank">
                <img src="https://lanperfume.com/wp-content/uploads/2024/06/img1-3.jpg" alt="Banner">
            </a>
        </div>
    </div>
</body>

<script src="../js/modules/sidebar.js">

</script>

</html>